p {
    color: red;
    background-color: aqua;
}

#text.desc1 {
    background-color: gold;
}

.desc {
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
}

[href]
}

text-decoration:none;
}

.desc .desc1 {}